@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@media only screen and (max-width: 768px) {
    header .col-sm-12{
        font-size: 15px;
    }
    header .col-sm-12 h2{
        font-size: 20px;
    }
    .navbar-toggler{
        font-size: 10px !important;
    }

    }
.nav-top{
        padding: 0;
    }
.nav-footer{
   color: aliceblue !important;
}
.nav-footer h4,h3{
    margin-left: 10%;
}
.nav-footer h3{
    color: rgb(247 74 74);
}

@media only screen and (max-width: 768px) {
    
    footer,h4{
        font-size: 15px;
    }
    footer,h3{
        font-size: 20px;
    }
    .footer-icon{
       width: 50px !important;
    }
    .table-footer{
        font-size: 10px;
    }

  }

footer{
    background-color: rgb(2, 17, 59);
    color: aliceblue;
}
.table-footer{
    color: aliceblue;
    border: none ;
    width: 100%;
}
.table-footer tbody tr td{
    color: rgb(167, 168, 168);
}








